body {
    font-family: Arial, sans-serif;
    background-color: #F7E4AD;
    margin: 0;
    padding: 0;
}

header {
    background-color: #957620;
    color: white;
    padding: 10px 0;
    text-align: center;
}

body {
    margin: 0; /* Elimină marginile implicite ale body-ului */
}

.servicii {
    padding: 50px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
    font-size: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

section {
    padding: 20px;
}

footer {
    text-align: center;
    background-color: #957620;
    color: white;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
